* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    /*    100% of the viewport height*/
    padding: 150px;
    background-color: #f0e8d4;
}

h1 {
    font-family: span, serif;
    font-weight: 400;
    font-style: normal;
    color: #b7430e;
    font-size: 24pt;
    padding-bottom: 75px;

}

p {
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
    line-height: 20pt;
    color: #991d00;
    width: 450pt;
}



.ptwoimg{
    width: 150px;
    margin: 20px;
}



.nav {
    position: fixed;
    left: 1000px;
    top: 600px;
}


.navimg {
    width: 20%;
}




#hoverptwo:hover {
    animation-name: posChange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}



a:hover {
    animation-name: posChange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}


@keyframes posChange {
    0% {
        transform: rotate3d(0)
    }

    100% {
        transform: rotate3d(1, 1, 1, 360deg)
    }
}
