* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: floralwhite;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.row {
    margin: 0 10px;
    padding: 10px;
}



p {
    text-align: center;
    font-size: 4em;
    color: black;
    font-family: "Arial", sans-serif;


}


a {
    text-decoration: none;
    font-family: "Arial", sans-serif;
    position: fixed;
    right: 50px;
    bottom: 50px;
    font-size: 1em;
    color: black;
}


span {
    animation-name: side;
    animation-duration: 8s;
    animation direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}



@keyframes side {
    0% {
        letter-spacing: 30px;
        opacity: 0;
        color: cornflowerblue;
    }

    75% {
        opacity: 1;
        color: cornflowerblue;
    }

    100% {
        letter-spacing: normal;
        color: cornflowerblue;
    }
}
