* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: floralwhite;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.row {
    margin: 0 10px;
    padding: 10px;
}

p {
    font-size: 4em;
    color: black;
    font-family: "Arial", sans-serif;
}

#one {
    color: white;
    animation-name: blue;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-delay: 2s;
}


#two {
    color: white;
    animation-name: red;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-delay: 4s;
}

#three {
    color: white;
    animation-name: yellow;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
   
    animation-delay: 6s;
}

#four {
    color: white;
    animation-name: green;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
   
    animation-delay: 8s;
}



a {
    text-decoration: none;
    font-family: "Arial", sans-serif;
    position: fixed;
    right: 50px;
    bottom: 50px;
    font-size: 1em;
    color: black;
}



@keyframes red {
    0% {
        color: white;
    }

    100% {
        color: red;
    }
}

@keyframes green {
    0% {
        color: white;
    }

    100% {
        color: green;
    }
}


@keyframes blue {
    0% {
        color: white;
    }

    100% {
        color: blue;
    }
}


@keyframes yellow {
    0% {
        color: white;
    }

    100% {
        color: yellow;
    }
}
