* {
    padding: 0px;
    margin: 0px;
}

html {}

body {
    height: 100vh;

    /*    100% of the viewport height*/
    /*  padding: 250px;*/
    padding-top: 450px;
    padding-left: 300px;
    padding-right: 50px;


}

h1 {
    font-family: baskerville;
    font-size: 2.5em;
    line-height: 4em;

}

/*h2{*/
/*    z-index: -1;*/
/*    background-image: image()*/


/*}*/


.bg {
    background-image: url(../imgs/Main5.jpg);

    background-repeat: no-repeat;
    /*  background-attachment: fixed;*/
    background-position: top left;


}

.pages {
    padding-top: 100px;
    padding-left: 50px;

}


.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




p {
    font-family: baskerville;
    font-size: 1.5em;
    line-height: 1.75em;
    color: darkred;
    width: 25em;
    /* padding:5px;  */

}

.names {

    font-family: baskerville;
    color: black;

    line-height: 1.75em;

    width: 25em;
    /* padding:5px;  */
}


a {
    font-family: baskerville;
    color: black;
    text-decoration: none;
    font-size: 1.5 em;
    line-height: 1.75em;
    /*  padding: 10px; *
    display: inline-block;
    
/*    animation properties
    
    transition: 1s;*/
}


img {
    width: 500px;
    /*    margin-bottom: 5em;*/
}


a:hover {
    opacity: 0.5;
    /* background: black; */
    /*    color: darkred;*/
}
