* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: floralwhite;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.row {
    margin: 0 10px;
    padding: 10px;
}

p {
    font-size: 3em;
    color: black;
    font-family: "Arial", sans-serif;
}

#blue {
    color: white;
    animation-name: blue;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}



a {
    text-decoration: none;
    font-family: "Arial", sans-serif;
    position: fixed;
    right: 50px;
    bottom: 50px;
    font-size: 1em;
    color: black;
}


@keyframes blue {
    0% {
        font-size: 3.6em;
        color: floralwhite;
    }
    100% {
       font-size: 0.1em;
        color: cornflowerblue;
    }
}


